<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Bus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/build_bus.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        {% if request.session.user_username %}
        <p>Logged in as: {{ request.session.user_username }}</p>
    
    <form action="{% url 'build_bus' %}" method="post">
        {%csrf_token%}
        <input type="text" placeholder="Bus Name format:(123RJT-JND456)" name="bus_name">
        <label for="route">Route:</label>
        <select name="route">
            {% for route in routes %}
                <option value="{{ route }}">{{ route }}</option>
            {% endfor %}
        </select><br>
        <label for="route">Bus Type:</label>
        <select name="bus_type">
            {% for b_type in bus_types %}
                <option value="{{ b_type }}">{{ b_type }}</option>
            {% endfor %}
        </select><br>
        
        <input type="number" name="seats" placeholder="seats">
        <br>
        BOJ:<input type="date" placeholder="Date" name="date">
        <br>
        <button type="submit">Build</button>
        
    </form>
    {% else %}
        <p>Not logged in</p>
        {% endif %}
    {% endif %}
    {% if not request.user.is_authenticated %}
        <script>window.location.href = "{% url 'login_view' %}"</script>
    {% endif %}
</body>
</html>