<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Bus</title>
</head>
<body>
     <form action="{% url 'choose_bus' %}"  method="post">
        {%csrf_token%}
        <label for="bus">Routes:</label>
        <select name="bus">
            {% for data in bus_data %}
                <option value="{{ data.bus.bus_name }}">{{ data.bus.bus_name }}</option>
            {% endfor %}
        </select>
        <br>
        <ul>
            {% for data in bus_data %}
                <li>BusName: {{ data.bus.bus_name }}</li> 
                <li>Fare: {{ data.fare }}</li>
                <li>Cities and Times:</li>
                  <select name="cities_times">
                    {% for city, time in data.city_time %}
                        <option value="{{ city }}">{{ city }} - {{ time }}</option>
                    {% endfor %}
                </select> 
            {% endfor %}
        </ul>
       
        <button type="submit">Search</button>
     </form>
     
</body>
</html>