<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Bus</title>
</head>
<body>
     <form action="{% url 'choose_bus' %}"  method="post">
        {%csrf_token%}
        <label for="route">Routes:</label>
        <select name="route">
            {% for bus in buses %}
                <option value="{{ bus.bus_name }}">{{ bus.bus_name }}</option>
            {% endfor %}
        </select>
        <br>
        <h2></h2>
        <ul>
        {% for bus,fare in busId%}
        
        <li>BusName:{{bus}} Fare:{{fare}}</li>

        {%endfor%}
        </ul>
       
        <button type="submit">Search</button>
     </form>
     
</body>
</html>