<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #1a237e; /* Dark Blue */
            color: #ffc107; /* Yellow */
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Success</h1>
</body>
</html>
